@card-height: 245px;
@card-width: 167px;

body {
  background: forestgreen;
}

#table {
  width: 100%;

  .info {
    background: white;
    height: 100px;
    margin: 20px;
    width: 100%;

    .content, h3 {
      padding: 5px;
    }

    h3 {
      margin: 0;
    }
  }

  .play-button {
    text-align: center;
    margin-top: 10px;

    button {
      width: 200px;
      height: 50px;
    }

  }
}

player-table, dealer-table {
  display: block;
  margin: 20px;
  border: 1px solid #000000;
  width: 100%;

  header {
    margin: 0 0 0 10px;
  }

  .cards {
    height: 80%;
    width: 100%;
    margin: 5px;

    .cards-holder {
      min-height: 200px;

      card {
        display: inline-block;
        background: url("../img/deck.png") no-repeat;
        width: @card-width;
        height: @card-height;
      }

      .card(@color, @level) {
        .card-loop(@value) when (@value > 0) {
          .card-loop((@value - 1));

          //.set-this-card-width() when (@value = 1) {
          //  @this-width-margin: 0px;
          //}
          //
          //.set-this-card-width() when (@value > 1) {
          //  @this-width-margin: 0px;
          //}

          .set-this-card-height() when (@level > 0) {
            @this-height-margin: -2px;
          }

          .set-this-card-height() when (@level = 0) {
            @this-height-margin: 0px;
          }

        @this-width-margin: 0;
          //.set-this-card-width();
          .set-this-card-height();

          [color="@{color}"][value="@{value}"] {
            background-position: -((@value - 1) * (@card-width - @this-width-margin)) -(@level * (@card-height + @this-height-margin)), top left;
          }
        }

        .card-loop(13);
      }

      .card("clubs", 0);
      .card("diamonds", 1);
      .card("hearts", 2);
      .card("pikes", 3);

      card.hidden {
        background-position: -(2 * (@card-width + 1)) -(4 * (@card-height - 2)), top left;
      }
    }
  }

  .commands {
    text-align: center;
    margin-bottom: 10px;

    button {
      height: 30px;
      width: 120px;
    }
  }
}

footer {
  text-align: center;
}
