<div id="table">
  <player-table ng-show="game.stage > 0" player="game.players[0]"></player-table>

  <div class="info">
    <section>
      <header>
        <h3>Info</h3>
      </header>
      <div class="content">hello</div>
    </section>
  </div>
  <div class="play-button" ng-hide="game.stage > 0">
    <button ng-click="play()">PLAY!</button>
    <form name="newUserForm" novalidate>
      <button ng-click="addPlayer()">Add Player</button>
      <label>
        User Name:
        <input type="text" ng-model="newPlayerName" required>
      </label>
    </form>
  </div>

  <div>
    <player-table player="player" ng-repeat="player in game.players | startFrom : 1" ng-show="game.stage > 0"
                  is-active="{{game.currentPlayerIndex === $index + 1 && game.stage == 2}}"></player-table>
  </div>
</div>
